* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 450px;
    border: 3px solid yellow;
    box-shadow: 0 0 25px rgb(220, 220, 133);
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
}

/* LEFT SIDE */
.left {
    width: 50%;
    background: #1f2235;
    padding: 60px;
    color: white;
}

.left h2 {
    margin-bottom: 30px;
}

.left input {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 16px;
}

.left button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #7CFC00, #00CED1);
    border: none;
    border-radius: 25px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.switch {
    margin-top: 20px;
    font-size: 14px;
}

.switch span {
    color: rgb(220, 220, 133);;
    cursor: pointer;
}

/* RIGHT SIDE */
.right {
    width: 50%;
    background: linear-gradient(to bottom right, #00c9a7, #f9d423);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    color: white;
    padding: 80px;
}

.right h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* SIGNUP MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #1f2235;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background: rgb(220, 220, 133);;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content p {
    margin-top: 15px;
    cursor: pointer;
    color: rgb(220, 220, 133);;
}
